html {
    font-size: 10px;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: #3b3b3b;
    background: #f5f5f5;
}

header {
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url('../images/drawing.jpg');
    transition: all ease 0.3s;
}

article {
    margin-top: 2rem;
    transition: all ease 0.3s;
}

.shift {
    transform: translateX(-85%);
}

.header-body {
    height: 100vh;
    /* background-color: rgba(146, 23, 187, 0.65); */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__content {
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 9px 7px 0px rgba(0, 0, 0, 0.3);
}

.content__text {
    background: royalblue;
}

.content__text2 {
    background-color: rgba(27, 30, 42, 0.85);
}

.flash__box {
    height: 17rem;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

.flash__news h3 {
    color: white;
}

.slide {
    padding: .5rem;
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#nav-btn {
    transition: ease 0.3s;
}

.fixed-nav {
    position: fixed;
    left: 100%;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    background-color: #241b35;
    transition: all ease 0.3s;
}

.fixed-nav>ul {
    height: 100%;
}

.fixed-nav>ul>li {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fixed-nav>ul {
    list-style: none;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.trigger ul {
    list-style: none;
    padding: 0;
}

.trigger a {
    color: #b3a4a4;
}

.grid,
.grid div {
    display: flex;
    flex-direction: column;
}

img {
    height: 10rem
}

.nav-top img {
    height: 7rem;
}

.nav-top span {
    margin-right: 1rem;
}

.slider-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

h3 {
    color: #A339C4;
}

.sect-banner,
.fac-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sect-banner img,
.fac-banner img {
    height: 3rem;
    margin-right: 1rem;
}

.rector {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 1;
    height: 25rem;
    align-items: center;
    justify-content: space-around;
}

.students-alumni,
.news-events {
    /* background-color: #241b35;
    color: white; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* .students-alumni h3,
.news-events h3,
.students-alumni a {
    color: white;
} */

.rector img {
    height: 15rem;
}

.rector span {
    font-size: 1.6rem;
    font-family: 'Serif';
}

section {
    margin-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    background-color: #313030;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer ul {
    padding: 1rem;
    list-style: none;
}

footer a {
    color: white;
}

.back-color {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.dropdown-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: white;
    border: 1px solid white;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.2);
    width: 10rem;
    height: 10rem;
    transform-origin: 50% 0%;
    transition: all 0.4s, opacity 0.2s, translate 0.3s;
}

@media screen and (min-device-width: 700px) {
    .navbar {
        display: grid;
        grid-template-columns: auto 85%;
        position: fixed;
        width: 100%;
        align-items: center;
        transition: all ease 1s;
    }
    .nav-top,
    .fixed-nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .nav-top {
        position: unset;
        display: unset;
    }
    .open {
        opacity: 1;
    }
    #nav-btn {
        display: none;
    }
    .fixed-nav {
        position: unset;
        height: unset;
        width: unset;
        background-color: unset;
    }
    .fixed-nav>ul {
        height: unset;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        opacity: 0;
        position: absolute;
        top: 5rem;
        width: max-content;
        padding: 0rem;
        list-style: none;
        border-radius: .5rem;
        will-change: opacity;
        transition: ease .2s;
    }
    .trigger {
        position: relative;
    }
    .trigger a {
        color: initial;
    }
    .trigger-enter .dropdown {
        display: block;
    }
    .trigger-enter .grid {
        display: flex;
        justify-content: space-around;
    }
    .trigger-enter-active .dropdown {
        opacity: 1;
        padding: 1rem;
    }
    .trigger>div {
        cursor: pointer;
    }
    .grid {
        display: flex;
        flex-direction: row;
        width: 40rem;
    }
    .grid div {
        display: flex;
        flex-direction: column;
    }
    .header-body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .content__text2 {
        display: grid;
        grid-template-columns: 45% auto;
        align-items: center;
        grid-gap: 2rem;
    }
    .__story {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .flash__news {
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flash__box {
        height: 20rem;
    }
    article {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    footer ul {
        padding: 0;
    }
    .contact,
    .faculty,
    .students-alumni {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 1.5rem;
    }
    .contact>div,
    .students-alumni>div,
    .mission>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }
    .mission div {
        align-items: center;
    }
    .faculties,
    .news-events>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .faculties {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
    .news-events>div,
    .mission>div {
        grid-gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faculties ul,
    .students-alumni ul {
        list-style: none;
        padding: 0;
    }
    .news-events h1 {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .students-alumni,
    .news-events {
        /* border-radius: 1rem;
        box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.65);
        padding-left: 1rem;
        padding-right: 1rem; */
        padding-top: 0;
        padding-bottom: 0;
    }
    .students-alumni li {
        margin-top: 1rem;
    }
    .fac-sect,
    .students-alumni>div>div {
        background-color: white;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border: 1px solid white;
        border-radius: .5rem;
        transition: linear .2s;
    }
    .fac-sect:hover,
    .students-alumni>div>div:hover {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-device-width: 1000px) {
    .header-body,
    footer,
    article {
        padding-left: 12rem;
        padding-right: 12rem;
    }
    .news-events .sect-text p {
        background-color: #FAFAFA;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        min-height: 12rem;
        margin-right: 1.5rem;
        margin-bottom: 3rem;
    }
    .faculties {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }
    section {
        min-height: 50vh;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .nav-top {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .fixed-nav {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: 'Open sans';
}